body {
    margin: 0 20px;
    background-color: rgba(250, 211, 194, 0.17);
    color: #222;
    font-size: 17px;
}
table {
    width: 60%;
}
tr:nth-child(odd) {
    background-color: bisque;
}
td {
    padding: 10px;
}
h1 {
    color: #a0501e;
}
td:first-child {
    width: 60%;
}
.td {
    width: 20%;text-align: center;
}
.link {
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
    color: #108c46;
    text-decoration: none;
}
.link:hover {
    color: #0e7038;
    text-decoration: underline;
}
.edit:hover,
.del:hover {
    text-decoration: none;
}
.del {
    color: #ea3915;
}
.edit {
    color: #006099;
}

input[type="text"],
textarea {
    width: 60%;
}

input,
textarea {
    margin-bottom: 10px;
    font-size: 17px;
}
label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
    color: #7f3f1d;
    font-size: 19px;
}
input[type="submit"] {
    border-radius: 4px;
    padding: 5px 10px;
    background-image: linear-gradient(#7f3f1d 30%, rgba(214, 92, 44, 0.61));
    font-size: 15px;
    color: white;
    border: 2px outset #7f3f1d;
}
input[type="submit"]:hover {
    cursor: pointer;
}
